.project{
    .img{
        transition: all .55s ease-in-out;
        cursor: pointer;
        img{
            display: block;
            margin: 0 auto;
            border-radius: 20px;
            height: 80%;
            width: 80%;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
}